@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 style="color:forestgreen">This is the Demo Application of ASP.NET MVC web application. It is perfoming basic CRUD 
    operation without using any Database.</h3>
    <p><a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
